
@font-face {
    font-family: PanPizza;
    src: url(fonts/panpizza.ttf);
}

@font-face {
    font-family: Cherry;
    src: url(fonts/Cherry.ttf);
}

.cabecalho {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    border-radius: 10px;

    height: 150px;
    width: 100%;

    background-color: #fbf6d0;
}

#title {
    border-radius: 10px;

    font-size: 60px;
    font-family: PanPizza;
    color: #1f0e1a;

    display: flex;
    justify-content: center;

}
#hotPizza {
    display: flex;
    padding-left: 10px;

    font-size: 90px;
    color: #f88f89;
}
.subtitle{
    display: flex;
    padding-top: 10px;
    
    margin-right: 40px;
    
    font-weight: 600;
    font-size: 30px;
    font-family: Cherry;
}

#container {
    font-family: Cherry;
    font-weight: bolder;
   
    padding-left: 100px;
    padding-bottom: 50px;
    padding-top: 1px;

    margin-left: auto;
    margin-right: auto;
    
    display: block;
    
    background-color: #79c3aa;
    
    border-radius: 10px;
    
    width: 500px;
}

.boxDescription {
    margin-left: 0px;
    color:#1f0e1a;

    border-bottom: solid 1px #000;

}
#bordaRecheada{
    cursor: pointer;
}

#borda {
    margin-bottom: 20px;
}

.boxChoice * {
    font-weight: 600;
}

.boxChoice {
    display: block;
    width: 200px;
    height: 30px;
    border: 0;

    font-family: 'Cherry';
    font-weight: 600;

    outline: none !important;

    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 10px;
    
    background-color: #fbf6d0;

    border-radius: 10px;

    cursor: pointer;
}

.boxChoice:hover {
    filter: brightness(0.9);
}

#prefs{
    width: 250px;
    height: 100px;

    cursor: text;

    text-align: start;
    padding-top: 0px;
    margin-top: 10px;
    background-color: #f3ddb6;

    border: 0;
    border-radius: 5px;
}



#prefs:focus {
    outline: none ;
    border: 0 ;
    border-radius: 5px ;
}

#submit{
    margin-right: 45px;
    margin-top: 20px;
    display: flex;
    justify-content: center;

    padding: 10px;

    background-color:#f88f89;
    border-radius: 10px;

    font-family: 'Cherry';
    
    color: #000;

    cursor: pointer;
}

#submit:hover {
        filter: brightness(0.9);
}

#telaAguardando {

    font-family: Cherry;
    font-weight: bolder;

    padding-top: 1px;
    padding-left: 100px;
    padding-bottom: 50px;
    display:block;

    margin-left: auto;
    margin-right: auto;
    
    background-color: #79c3aa ;
    border-radius: 10px;
 
    width: 500px;
}
#gifPizza {
    width: 100px;
    height: 100px;
    
    margin-left: 160px;
}
#nota{ 
    margin-right: 45px;
    margin-top: 20px;
    display: flex;
    justify-content: center;

    background-color:#f88f89;
    border-radius: 10px;
    border: solid 1px #000;
    
    color: #000;

    cursor: pointer;
}